body {

    color: white;
    font-family: 'Poppins', sans-serif;
    ;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(3, 3, 44);

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: aqua;
}

.left {
    font-size: 1rem;
}
.leftt{
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    background-color: rgb(32, 10, 53);

}

.rightSection img {
    width: 350px;
    margin: 25px;
}

.leftSection {
    font-size: 3rem;
    margin: 50px;
}

.firstSection>div {
    width: 30%;
}

/*skills section*/
.container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 14, 48);
    margin: 0;
    align-items: center;
  }
  
  .box {
    width: 30%; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border: 1px solid black;
  }
  h2{
    color: aqua;
  }
.hh {
    color: red;
    font-size:100px;
}
.red{
    color: red;
}
    
/* third Section*/
.ThreeSection{
    background-color:rgb(32, 10, 53) ;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    list-style-type: lower-greek;

}
.thirdleftSection img {
    width: 350px;
    margin: 25px;
}
.thirdrightSection{
    font-size: 1rem;
    margin: 0px;
}
.cc{
    color: crimson;
    font-size: xx-large;
}
/*four Section*/
.fourSection{
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 14, 48);
    margin:0;
    padding-bottom: 10px;
    align-items: center;
}
.fourLeftSection{
    font-size: 1rem;
    margin: 0px; 
}
.aa{
    color: darkred;
    font-size: xx-large;
}
.fourRightSection img {
    width: 350px;
    margin: 25px;
}
/*five*/
.five{
    background-color:rgb(32, 10, 53) ;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    list-style-type: lower-greek;   
}
footer{
    background-color:  rgb(14, 14, 48);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
}
.final{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 10, 53);
    padding-top: 25px;
    padding-bottom: 25px;
}

